.luv-modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.luv-modal {
    max-height: 90vh;
    overflow: hidden;
}

.luve-modal-content {
    overflow-y: auto;
}

.luv-modal-close {
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    color: var(--placeholder);
}
